<!-- Add new Education -->
<div class="panel panel-success">
    <div class="panel-heading">New Widget</div>
    <div class="panel-body">
        <form action="/admin/new-widget" method="POST">
            <label>Title</label>
            <br>
            <input type="text" placeholder="Title" name="title">
            <br>
            <label>Subtitle</label>
            <br>
            <input type="text" placeholder="Subtitle" name="subtitle">
            <br>
            <label>Content</label>
            <br>
            <textarea class="form-control" rows="5" placeholder="Description" name="content"></textarea>
            <br>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>